@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
}

.btn {
    @apply p-2 px-4 border-0 bg-transparent rounded;
}

.btn-primary {
    @apply bg-blue-600 text-white;
}

.btn-primary-hover {
    @apply bg-blue-600 hover:bg-blue-700 text-white;
}

.btn-secondary {
    @apply bg-gray-600 text-white;
}

.form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none;
}